<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Proyecto Ambiente Web</title>
</head>

<body>
    <header class="top">
        <nav>
            <ul id="topMenu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <section id="seccion">
        <form method="POST" action="" name="formularioLogin">
            
        </form>
    </section>
    <footer id="pie">
        <p id="derechosReservados">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </p>
    </footer>
</body>

</html>