html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*{
    margin: 0px;
}

.container{
    width: 85%;
    margin: 0px auto;
}

#seccion{
    float: left;
    width: 75%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 1px #d3d3d3,
    0px 3px 7px #d3d3d3,
    0px 0px 1px #ffffff inset,
    0px -3px 2px #d3d3d3 inset;
}

#lateral{
    height: auto;
    width: 20%;
    background-color: #ffffff;
    float: left;
}

#pie{
    height: 10%;
    width: 100%;
    background-color: #4e4e4e;
    float: inline-end;
}

/*------------ Menu superior ------------*/
.top{
    width: 100%;
    height: 10%;
    background-color: #2175bc;
}

#topMenu {
    padding: 0;
}
   
#topMenu li {
    display: inline;
}

#topMenu li a {
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
    float: left;
    padding: 10px;
    color: #fff;
    margin: 10px 10px;
}


#topMenu li a:hover {
    background-color: #2586d7;
    margin-top: -2;
}

/*---------- Fin Menu superior ----------*/

/*---------    Diseño movil    ----------*/

@media(max-width: 650px){
    .top{
        height: 18%;
    }

    #topMenu li a {
        margin: 0px;
    }

    #seccion{
        width: 100%;
    }
    
    #lateral{
        width: 100%;
    }

    #pie{
        height: 15%;
    }
}

/*----------  Fin Diseño movil  ----------*/

/*----------  Diseño elementos  ----------*/

.post{
    padding: 30px;
    margin: 20px;
    text-align: justify;
}

.img{
    padding: 10px 0px;
    margin: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
}

#categoriaMenu{
    padding: 20px;
}

#menuLateral li {
    display: inline-block;
}


#menuLateral li a {
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    margin: 10px 10px;
}

#derechosReservados{
    color: #fff;
    padding: 20px;
    text-align: center;
}

.block{
    display: block;
    width: 85%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 1px #d3d3d3,
    0px 3px 7px #d3d3d3,
    0px 0px 1px #ffffff inset,
    0px -3px 2px #d3d3d3 inset;
}

label, input{
    display: block;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}


