/*Estructura general*/
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-image: url("../img/fondo.jpg");
  background-repeat: repeat;
}

* {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #4e4e4e;
  width: 100%;
  height: 10%;
  position: relative;
}

.section{
  width: 100%;
  min-height: 80%;
  position: relative;
}

.footer {
  height: 10%;
  width: 100%;
  background-color: #4e4e4e;
  position: absolute;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/*fin estructura general*/
/*----UTILIDADES----*/
.seccionIndex{
  margin: auto;
  text-align: center;
  height: 450px;
}

.h1Index{
  margin: auto;
  padding: 30px 0px;
  text-align: center;
}

img {
  max-width: 100%;
}

.imagenIndex {
  padding: 10px;
  margin: 20px 5px 0px 5px;
  max-width: 60%;
  float: left;
}

.textoIndex{
  float: left;
  max-width: 30%;
  padding: 10px;
  margin: 20px 5px;
  text-align: center;
}

.info_user{
  width: 70%;
  margin: auto;
}

input {
  width: 50%;
  display: block;
  margin: 15px auto;
  border-radius: 5px;
}

/*tableta 830px*/
@media (max-width: 830px) {
  .info_user{
    width: 70%;  
  }
  input {
    width: 65%;
  }
  .imagenIndex {
    max-width: 100%;
  }
  
  .textoIndex{
    max-width: 100%;;
  }
  .seccionIndex{
    height: 550px;
  }

  .sectionInd{
    height: auto;
  }
  
}

/*Celular 740px*/
@media (max-width: 745px) {
  .info_user{
    width: 90%;  
  }

  input {
    width: 85%;
  }

  .seccionIndex{
    height: 480px;
  }
}

/*----FIN UTILIDADES----*/
/*------Margenes, paddings, aligns------*/
.pt-10{
  padding-top: 10%;
}

.m-auto{
  margin: auto;
}

.mt-5{
  margin-top: 15px;
}

.align-text-center{
  text-align: center;
}

/*----fin Margenes y paddings----*/


/*-------NAV BAR-------*/

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  margin-bottom: 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}

nav a:hover {
  text-decoration: none;
  color: cornflowerblue;
}

/*tableta 830px*/
@media (max-width: 830px) {
  .header {
    height: 10%;
  }
}

/*Celular 740px*/
@media (max-width: 745px) {
  .header {
    height: 20%;
  }

  nav li {
    float: left;
  }
}

/*-------FIN NAV BAR-------*/

/*------Productos y tienda------*/

.articulo {
  padding: 10px;
  margin: 5px;
  text-align: center;
  float: left;
  max-width: 300px;
  height: 420px;
  border: 2px solid #95999c;
  background-color: #fff;
  
}
.articulo div {
  padding-top: 10px;
}
.articulo .imagen img {
  height: 200px;
}

.articulo .titulo {
  font-weight: bold;
  font-size: 18px;
}

.botones {
  border: 0;
  border-radius: 5px;
  background: black;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}
.botones:hover {
  background: cornflowerblue;
}

/*Celular 740px*/
@media (max-width: 745px) {
  .articulo {
    max-width: 100%; 
    height: 450px;    
  }

  .producto {
      background-color: #4e4e4e;
      width: 90%;
  }

  .info_user{
      width: 90%;  
  }
}

/*---Fin Productos y tienda----*/

/*Formato de las tablas*/
table{
  border-collapse: collapse;
}

table tr th {
  border: 2px solid black;
  color: white;
  padding:10px 30px 10px 30px;
  background: #95999c;
}

.ta table tbody tr td{
  border: 2px solid black;
  padding:10px 30px 10px 30px;
  background: white;
}

.tablas{
  padding: 30px;
  margin-top: 10px;
  float: left;
}

.tablaCarrito{
  padding: 30px;
  margin-top: 10px;
}

.botonTabla{
  margin: auto;
  width: 100%;
  height: 40px;
}

/*Celular 740px*/
@media (max-width: 745px) {
  table tr th {
    padding:10px;
  }

  .ta table tbody tr td{
    padding:10px;
  }
}

/*Elementos footer*/

#derechosReservados {
  color: #fff;
  padding: 20px;
  text-align: center;
}

/*fin Elementos footer*/

